.form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.file-input {
    padding-top: 8px;
}

.image-preview ion-img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.save-btn, .cancel-btn {
    --background: #019882;
    font-weight: bold;
    color: white;
    --border-radius: 8px;
    flex: 1;
    padding: 10px;
}

.cancel-btn {
    --background: #e74c3c;
}
