.contentEditProduct {
    scroll-padding-bottom: 100px;
    padding: 16px;
}

.image-preview-wrapperEditProduct {
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    width: 336px;
    height: 252px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.image-previewEditProduct {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.submit-buttonEditProduct {
    --border-radius: 8px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px;
    transition: background 0.3s ease;
    margin-top: 20px;
}

.submit-buttonEditProduct:hover {
    background: linear-gradient(to right, #019882, #4CAF50);
}

.custom-file-labelEditProduct {
    display: inline-block;
    padding: 10px 20px;
    background-color: #019882;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.custom-file-labelEditProduct:hover {
    background-color: #0056b3;
}

.file-input-hiddenEditProduct {
    display: none;
}

.input-containerEditProduct {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.input-containerEditProduct label {
    font-size: 14px;
    color: #555;
    font-weight: bold;
    margin-bottom: 8px;
}

.input-field,
.textarea-field,
.category-selectEditProduct {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #f9f9f9;
}

.input-field:focus,
.textarea-field:focus,
.category-selectEditProduct:focus {
    border-color: #4CAF50;
    box-shadow: 0px 0px 8px rgba(76, 175, 80, 0.4);
    background-color: #fff;
}

.input-field:hover,
.textarea-field:hover,
.category-selectEditProduct:hover {
    background-color: #fff;
    border-color: #888;
}

.category-selectEditProduct {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.category-selectEditProduct:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    border-color: #888;
}

.category-selectEditProduct:focus {
    border-color: #4CAF50;
    box-shadow: 0px 0px 0px 2px rgba(76, 175, 80, 0.2);
}

.titleEditProduct {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #019882;
}

.button-containerEditProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.custom-iconEditProduct {
    font-size: 20px;
    margin-right: 10px;
}
