.login{
    height: 100%;
    background-color: #ffffff;
    color: black;
}

.login__header, .login__form, .login__bottom {
    display: flex;
    height: 33.3%;

}

.login__header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.login__header-logo {
    display: flex;
    justify-content: center;
}

.login__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login__input {
    width: 75%;
    margin-bottom: 10px;
}


.login__bottom {
    display: flex;
    text-align: center;
}

.login__button {
    width: 50%;
    margin-bottom: 50px;
}

