.register{
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.register__row--top{
    width: 100%;
    height: 40%;
}

.register__row--form, .register__row--bottom{
    width: 100%;
    height: 30%;
}


.register__col--top{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.register__logo--img{
    max-width: 500px;
    max-height: 500px;
}

.register__col--form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register__input{
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.register__col--bottom{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.register__button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
