.main-container {
    height: 100vh; /* Ocupar toda la pantalla */
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
}

/* Cada contenedor ocupa 1/3 del espacio vertical */
.container-one, 
.container-two, 
.container-three {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}
/* Alineación específica para el logo en container-one */
.container-one {
    align-items: flex-end;
}

.container-one-logo {
    display: flex;
    justify-content: center;
}

/* Contenedor del formulario con inputs y botón */
.container-two {
    flex-direction: column;
    gap: 20px; /* Espacio entre los elementos */
}

/* Formulario con inputs centrados */
.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

/* Input personalizado */
.custom-input {
    width: 75%;
}

/* Botón ubicado justo debajo de los inputs */
.success-btn {
    color: white; 
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Espacio entre el último input y el botón */
}

/* Alineación del tercer contenedor */
.container-three {
    justify-content: center;
    align-items: flex-start;
}
