.menu {
  display: flex;
  flex-direction: column;
  color: black;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
}

.menu__row--top {
  width: 100%;
  padding-bottom: 10px;
}

.menu__col--top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__logo--img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.menu__swiper {
  width: 100%;
  height: auto;
  margin-top: 0px;
  background-color: #f8f8f8;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.menu__swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.menu__swiper .swiper-slide:hover {
  transform: scale(1.05);
}

.title1 {
  font-size: 20px;
  font-weight: bold;
  color: #019882;
  margin-bottom: 10px;
  text-align: left;
}

.menu__row--mid,
.menu__row--bottom {
  width: 100%;
  padding: 2px 0;
}

.menu__carousel, .menu__vendedores {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 15px;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
}

.menu__carousel::-webkit-scrollbar, .menu__vendedores::-webkit-scrollbar {
  height: 6px;
}

.menu__carousel::-webkit-scrollbar-thumb, .menu__vendedores::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.menu_carousel--item, .menu_vendedores--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  scroll-snap-align: center;
  transition: transform 0.3s;
}

.menu_carousel--item:hover, .menu_vendedores--item:hover {
  transform: scale(1.1);
}

.menu_carousel--item img, .menu_vendedores--item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu_carousel--item IonText, .menu_vendedores--item IonText {
  font-size: 12px;
  color: #333;
  margin-top: 5px;
}

.NombreProduct {
  color: black;
  text-align: center;
}

.title1, .TitleBienvenido {
  font-size: 20px;
  font-weight: bold;
  color: #019882;
}

.TitleBienvenido {
  text-align: left;
  padding-left: 10px;
}

.fixed-size-container {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries para responsividad */
@media (max-width: 600px) {
  .menu__logo--img {
    max-width: 200px;
  }

  .menu__swiper {
    height: 150px;
  }

  .menu_carousel--item, .menu_vendedores--item {
    width: 60px;
  }

  .menu_carousel--item img, .menu_vendedores--item img {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .menu__logo--img {
    max-width: 300px;
  }

  .menu__swiper {
    height: 170px;
  }

  .menu_carousel--item, .menu_vendedores--item {
    width: 70px;
  }

  .menu_carousel--item img, .menu_vendedores--item img {
    width: 60px;
    height: 60px;
  }
}
