.menu {
  display: flex;
  flex-direction: column;
  color: black;
  width: 100%;
  height: 100%;
}
.menu__swiper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px; 
}
.menu__row--top {
  width: 100%;
  height: 33.3%;
  overflow: hidden;
}

.menu__col--top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.menu__logo--img {
  max-width: 250px;
  max-height: 250px;
  /* position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
  align-items: end; */
}

.menu__swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.menu__row--mid,
.menu__row--bottom {
  width: 100%;
  height: 33.3%;
}

.menu__row--mid{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  scroll-snap-type: x mandatory;
}

.menu_carousel--item {
  display: inline-block;
  width: 100px; 
  margin-right: 10px;
  text-align: center;
}

.menu_carousel--item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.menu__vendedores {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  scroll-snap-type: x mandatory;
}

.menu_vendedores--item {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: center;
}

.menu_vendedores--item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.NombreProduct{
  color: black;
}
.title1{
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  color: #019882;
}

.TitleBienvenido{
  font-size: 20px;
  font-weight: bold;
  color: #019882;
  text-align: left;
  padding-left: 10px;
}